.editor {
	height: 80vh;
}

.test-input-result.accept {
	color: #6f6;
}

.test-input-result.reject {
	color: #f66;
}

.state {
	background-color: #eee;
	fill: #eee;
}

.state.current {
	background-color: #fc0;
	fill: #fc0;
}

.state.accept {
	background-color: #bfb;
	fill: #bfb;
}

.state.accept.current {
	background-color: #6f6;
	fill: #6f6;
}

.state.nongenerating {
	background-color: #fbb;
	fill: #fbb;
}

.state.nongenerating.current {
	background-color: #f66;
	fill: #f66;
}

.state.unreachable {
	background-color: #ff9;
	fill: #ff9;
}

.click-editable:hover {
	background-color: aquamarine;
}