.VisualEditor {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
}

.VisualEditor svg {
	align-content: center;
}

.VisualEditor .transition .arrow .shaft {
	fill: none;
	stroke: blue;
	stroke-width: 3;
}

.VisualEditor .transition.followed .arrow .shaft {
	stroke: orange;
}

.VisualEditor .transition.just-followed .arrow .shaft {
	stroke: red;
}

.VisualEditor .transition .arrow .head {
	fill: none;
	stroke: black;
	stroke-width: 3;
}

.VisualEditor .transition .arrow:hover {
	cursor: pointer;
}

.VisualEditor .transition .arrow:hover .shaft {
	stroke: red;
}

.VisualEditor .transition .label {
	fill: black;
	font-size: 12px;
	font-weight: bold;
}

.VisualEditor .transition .label:hover {
	fill: aquamarine;
	cursor: pointer;
}

.VisualEditor .transition.editing .shaft {
	stroke: red;
}

.VisualEditor .transition.editing .arrow:hover {
	cursor: default;
}
