.VisualEditor {
	border-style: solid;
	border-width: 1px;
	position: relative;
	text-align: center;
}

.VisualEditor canvas {
	border-style: solid;
	border-width: 1px;
	border-color: red;
}

.VisualEditor .state {
	border-style: solid;
	border-width: 1px;
	padding: 10px 10px 10px 10px;
	position: absolute;
	/*transform: translate(-50%, -50%);*/
}

.VisualEditor .state input[type=text] {
	width: 70%;
}